<template name="Services">
  <div class="stock1">
    <img src="https://images.unsplash.com/photo-1437376576540-236661ddb41f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ee4636962be881b70f36abfe2d290eab" alt="stock">
  </div>
  <div class="experience">
    <h1>Palladian Experience</h1>
    <p>Imagine a path of renewal and discovery. A destination towards your own personal well being. Each journey at the Palladian is unique and completely personalized. Packages should be chosen based on desired reliefs with few particular intentions.</p>
  </div>
  <div class="container">
    <div class="explanation description">
      <div class="square-content">
        Massage
      </div>
    </div>
    <div class="relaxation description">
      <div class="square-content">
        Hair
      </div>
    </div>
    <div class="hot-stone description">
      <div class="square-content">
        Waxing
      </div>
    </div>
    <div class="couples description">
      <div class="square-content">
        Sunless Tanning
      </div>
    </div>
    <div class="deep-tissue description">
      <div class="square-content">
        Skin Care
      </div>
    </div>
    <div class="prenatal description">
      <div class="square-content">
        Nail
      </div>
    </div>
  </div>
</template>