.stock1 {
}

.stock1 img {
  margin: auto;
  height: 50em;
  width: 100%;
}

.experience {
  text-align: center;
  margin: 1em;
}

.experience p {
  margin: 1em;
}

.description {
  float: left;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  position: relative;
  overflow: hidden;
  background: gray;
}

.square-content {
  position: absolute;
  height: 80%;
  width: 90%;
  padding: 10% 5%;
}